.head-flex{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  height: 60px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* border-bottom-width:1px ;
  border-bottom-style: solid;
  border-bottom-color:rgb(221, 220, 220) ; */
  border: 1px solid rgb(221, 220, 220) ;
  z-index: 100;
}
.icon-headleft{
  display: flex;
  align-items: center;
}
.hamburger{
  flex:1;
  width: 25px;
  margin: 0 25px;
}
.hamburger:hover{
  cursor: pointer;
}
.youtube-logo{
  width: 100px;
  cursor: pointer;
}

.search-content{
  width: 470px;
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 65px;
  max-width: 470px;
  }
.search-box{
  height: 35px;
  flex: 1;
  font-size: 16px;
  padding-left: 12px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  margin-left: -1px;
  border-color: rgb(204, 204, 204);
  width: 0;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05)
}
.search-box::placeholder{
  margin-left: 80px;
  font-size: 16px;
}
.search-image{
  width: 25px;
  vertical-align: middle;
}

.search-button{
  width: 65px;
  height: 39px;
  margin-left: -1px;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  border-width: 1px; 
  background-color: rgb(248, 248, 248);
  
}
.search-button .tooltip,
.voice-button .tooltip,
.upload-icon-container .tooltip,
.youtube-app-container .tooltip,
.notify .tooltip
{
  position: absolute;
  background-color: rgb(111, 111, 111);
  color: rgb(244, 244, 244);
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 2px;
  bottom: -45px;
  opacity: 0;
  transition: 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button , .voice-button, .upload-icon-container,
.youtube-app-container, .notify
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-app-container:hover .tooltip,
.notify:hover .tooltip
{
  opacity: 1;
}

.icon-headright{
        width: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
        flex-shrink :0;
}
.voice-icon{
  width: 25px;
  padding-left: 1px;
}
.voice-button{
  width: 40px;
  height: 39px;
  border-radius: 19.5px;
  background-color: rgb(248, 248, 248) ;
  border:none;
  margin-left: 10px;
}

.upload-icon{
  height: 25px;
}
.youtube-app{
  height: 25px;
}
.notification-icon{
  height: 25px;
}
.mychannel{
  height: 32px;
  object-fit: contain;
  border-radius: 16px;
}
.mychannel:hover{
  cursor: pointer;
}
.notify{
  position: relative;
}
.number-notify{
  position: absolute;
  top: -2px;
  right:-3px;
  border-radius: 10px;
  font-size: 11px;
  padding: 2px 5px;
  background-color: rgb(200, 0, 0);
  color: white;
}